/* Seu arquivo CSS */
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.estado-filter,
.cidade-filter,
.bairro-filter {
  margin-bottom: 10px;
  width: 200px;
  font-size: 14px;
}

.estado-filter select,
.cidade-filter select,
.bairro-filter select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  /* Adicione cores e outros estilos conforme desejado */
}

#chartId {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 50 20px 10px rgba(0, 0, 0, 0.1);
}
