.main-table {
    color-scheme: black;
    box-sizing: border-box;
    empty-cells: show;
    position: initial;
    top: 40px;
    left: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

.table-head {
  background-color: #7e7e7e;
  font-weight: bold;
  font-size:x-large;
}

.table {
    background-color: #e0dddd;
}
  