@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a9b1b4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

/* h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
} */

/* .FinalTable {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  outline: none;
  background: black;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
} */

.Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.input-state {
  border-radius: 5px;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 20px;
}

.input-city {
  border-radius: 5px;
  /* padding: 50px; */
  margin-left: 5px;
  margin-right: 20px;
}

.input-neighborhood {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 20px;
}

.filter-btn {
  background: #000000;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: 10px;
  padding: 10px;
  width: 10rem;
}

.table {
  background: #ffffff;
}